[Desktop Entry]
Version=0.1.0
Name=SDS Remote
GenericName=SDS Remote
Comment=Siglent SDS oscilloscope remote viewer
Terminal=false
Type=Application
Categories=Utility;
Keywords=oscilloscope;siglent;
Icon=sdsremote
